---
permalink: "components/buttons/primary.html"
---
{% import '_includes/macros/buttons.njk' as btn with context %}

{%- block content -%}
{{ btn.btnPrimary (text="Primary button", href="#link-here", ariaControls="", isDisabled="", hasIcon=true) }}
{%- endblock -%}