---
title: Equinix Platypus
description: Testing build pipelines for potential managment of components into zeroheight
template: '_layouts/base'
---

{# ----------------------------------------------------------------
Add content into the layout
------------------------------------------------------------------ #}
{% extends '_layouts/base.njk' %}

{%- block content -%}
	<div class="flex flex-col gap-5">
		<h1 class="text-2xl">{{ title | safe | trim }}</h1>
	</div>
{%- endblock -%}

{# ----------------------------------------------------------------
Inject javascript to the <head> or just before closing <body> 
------------------------------------------------------------------ #}
{% block headScript %}
{{ super () }}
{% endblock %}

{% block footerScript %}
{{ super () }}
{% endblock %}
