---
title: Demo page
description: Building a page to show how to harness components into a layout
cardsKeyA: "topline"
---

{% set cardSet1 = cards[cardsKeyA] %}

{# ----------------------------------------------------------------
Add content into the layout
------------------------------------------------------------------ #}
{% extends '_layouts/base.njk' %}

{%- block hero -%}
	
{%- endblock -%}

{%- block content -%}

<section class="flex flex-col gap-5">
	<header>
		<h1 class="text-3xl leading-normal font-bold">{{ title | safe | trim }}</h2>
	</header>
	<main class="grid grid-cols-1 gap-7 md:gap-x-10 md:grid-cols-2 xl:grid-cols-3">
		{%- for object in cardSet1 -%}
			{% include '_includes/partials/cards/topline.njk' %}
		{%- endfor -%}
	</main>
</section>
{%- endblock -%}

{# ----------------------------------------------------------------
Inject javascript to the <head> or just before closing <body> 
------------------------------------------------------------------ #}
{% block headScript %}
{{ super () }}
{% endblock %}

{% block footerScript %}
{{ super () }}
{% endblock %}
