<!DOCTYPE html>
<html lang="en" class="">
<head>
	{% include '../_includes/partials/skaffold/head.njk' %}
	{% block headScript %}
	{% endblock %}
</head>
<body>
{%- block hero -%}
{%- endblock -%}
<div class="py-7 px-5 max-w-[1480px] mx-auto" id="main-content">
{%- block content -%}
{%- endblock -%}
</div>
{% block footerScript %}
{% endblock %}
</body>
</html>
