<!DOCTYPE html>
<html lang="en" class="">
<head>
	{% include '../_includes/partials/skaffold/head.njk' %}
	{% block headScript %}
	{% endblock %}
</head>
<body>
{% block hero %}
{% endblock %}
<div class="p-7" id="main-content">
{% block content %}
{% endblock %}
</div>
{% block footerScript %}
{% endblock %}
</body>
</html>
